{% extends "layout.html" %}
{% block body %}

<div class="jumbotron">
	<h1>MySQL Management Console</h1>
	<h2>1.9.1-alpha</h2>
	<p>
	A simple, easy to use web based console for managing MySQL-esque database servers and database instances. Powered by <a href="http://www.python.org">Python</a>, 
	<a href="http://flask.pocoo.org/">Flask</a> and <a href="http://getbootstrap.com/">Bootstrap</a>.
	</p>
	<p>
	Written by <a href="http://www.evad.info">David Bell</a> and his assistant <a href="http://www.claytonpeters.co.uk">Peters</a>.
	</p>
</div>

{% endblock %}
