{% extends "layout.html" %}
{% block body %}

<div class="page-header">
  <h1><span class="glyphicon glyphicon-book"></span> {{ db.name }}</h1>
</div>

<div class="row">
	<div class="col-md-4">
		<div class="panel panel-success panel2k">
			<div class="panel-heading">
				<h3 class="panel-title">Information</h3>
			  </div>
			  <div class="panel-body">
				<table class="statable">
					<tbody>
						<tr>
							<td><strong>Server:</strong></td>
							<td><a href="{{ url_for('server_view', server_name=db.server) }}">{{ db.server }}</a></td>
						</tr>
						<tr>
							<td><strong>Size:</strong></td>
							<td>FAKE GB</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="panel panel-danger panel2k">
			<div class="panel-heading">
				<h3 class="panel-title">Actions</h3>
			  </div>
			  <div class="panel-body">
				<ul class="nav nav-pills nav-stacked">
				  <li><a href="#" data-toggle="modal" data-target="#delete-confirm"><span class="glyphicon glyphicon-pencil"></span> Reset to new random password</a></li>				
				  <li><a href="#" data-toggle="modal" data-target="#delete-confirm"><span class="glyphicon glyphicon-trash"></span> Delete Database</a></li>
				</ul>			
			</div>
		</div>		
	</div>
	<div class="col-md-8">
		<div class="panel panel-info panel2k">
			<div class="panel-heading">
				<h3 class="panel-title">Edit Details</h3>
			  </div>
			  <div class="panel-body">
				<form class="form-horizontal" role="form" method="POST">
					<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
					<div class="form-group">
						<label for="inputOwner" class="col-lg-2 control-label">Owner</label>
							<div class="col-lg-10">
								<input type="text" class="form-control" id="inputOwner" name="database_owner" {% if db.owner %}value="{{ db.owner }}" {% endif %}/>
								<span class="help-block">The database owner</span>
							</div>
					</div>
					<div class="form-group">
						<label for="inputDescription" class="col-lg-2 control-label">Description</label>
							<div class="col-lg-10">
								<input type="text" class="form-control" id="inputDescription" name="database_desc" {% if db.description %}value="{{ db.description }}" {% endif %}>
								<span class="help-block">What the database is used for and/or ticket reference</span>
							</div>
					</div>
						<div class="form-group">
						<label for="inputPassword" class="col-lg-2 control-label">Password</label>
						<div class="col-lg-10">
							<input type="password" class="form-control" id="inputPassword" name="database_passwd"></input>
							<span class="help-block">Leave blank if you don't want to change the password</span>
						</div>
					</div>
				
					<div class="form-group">
						<div class="col-lg-offset-2 col-lg-10">
							<button type="submit" class="btn btn-default">Save Changes</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}
