{% extends "layout.html" %}
{% block body %}

<div class="page-header">
  <div class="pull-right">
  	<a href="{{ url_for('database_create') }}" class="btn btn-info" rel="tooltip" data-toggle="tooltip" data-placement="left" title="Create database"><i class="fa fa-fw fa-plus"></i></a>
  </div>
  <h1><i class="fa fa-fw fa-database"></i> Databases</h1>
</div>

<table id="tsort" class="table table-hover table-striped table-condensed">
	<thead>
		<tr>
			<th class="tsdisable"></th>
			<th>Name</th>
			<th>Server</th>
			<th>Owner</th>
			<th style="width: 40%">Description</th>
		</tr>
	</thead>
	<tbody class="rowclick-table">
{% if rows|length == 0 %}
		<tr>
			<td colspan='3'>There are no databases here!</td>
		</tr>
{% else %}
	{% for row in rows %}
		<tr class="rowclick-tr" data-url="{{ row.link }}">
			<td><a href="{{ row.link }}"><button type="button" class="btn btn-success btn-sm"><i class="fa fa-fw fa-eye"></i></button></a></td>
			<td class="rowclick-td">{{ row.name }}</td>
			<td class="rowclick-td">{{ row.shortserver }}</td>
			<td class="rowclick-td">{{ row.owner }}</td>
			<td class="rowclick-td">{{ row.description }}</td>
		</tr>
	{% endfor %}
{% endif %}
	</tbody>
</table>

{% endblock %}
