<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>MySQL Manager</title>
		{% include 'html-header.html' %}
	</head>
	<body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('about') }}">MySQL Management Console</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="{{ url_for('logout') }}">Logout from {{session.username}}</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li {% if active == 'about' %} class="active" {% endif %}><a href="{{ url_for('about') }}">About</a></li>
            <li {% if active == 'stats' %} class="active" {% endif %}><a href="{{ url_for('stats') }}">Stats</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li {% if active == 'servers' %} class="active" {% endif %}><a href="{{ url_for('server_list') }}">Server List</a></li>
            <li {% if active == 'server_status' %} class="active" {% endif %}><a href="{{ url_for('server_list') }}">Server Status</a></li>
            <li {% if active == 'server_add' %} class="active" {% endif %}><a href="{{ url_for('server_add') }}">Add Server</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li {% if active == 'databases' %} class="active" {% endif %}><a href="{{ url_for('database_list') }}">Databases</a></li>
            <li {% if active == 'database_create' %} class="active" {% endif %}><a href="{{ url_for('database_create') }}">Create Database</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

			{% for category, message in get_flashed_messages(with_categories=true) %}
			<div class="alert {{ category }} fade in"> <a data-dismiss="alert" class="close" href="#">×</a> {{ message|safe }} </div>
			{% endfor %}
			{% block body %}{% endblock %}

        </div>
      </div>
    </div>

<!--
		<div class="container">
			<div class="navbar navbar-default">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">MySQL Manager</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li {% if active == 'stats' %} class="active" {% endif %}><a href="{{ url_for('stats') }}">Stats</a></li>
						<li {% if active == 'servers' %} class="active"{% endif %} class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Servers <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="{{ url_for('server_list') }}">Farm servers</a></li>
								<li><a href="{{ url_for('server_list') }}">Standalone servers</a></li>
								<li><a href="{{ url_for('server_add') }}">Add new server</a></li>								
							</ul>
						</li>
						<li {% if active == 'databases' %} class="active"{% endif %} class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Databases <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="{{ url_for('database_list') }}">Farm databases</a></li>
								<li><a href="{{ url_for('database_list') }}">Standalone databases</a></li>
								<li><a href="{{ url_for('database_create') }}">Create new database</a></li>
							</ul>
						</li>
						<li {% if active == 'about' %} class="active" {% endif %}><a href="{{ url_for('about') }}">About</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ session.username }} <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="{{ url_for('logout') }}">Logout</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div> 
-->


	</body>
</html>



