{% extends "layout.html" %}
{% block body %}

<div class="page-dashboard">
  <h1>Server Grid View</h1>
</div>

<script type="text/javascript">

// filter items when filter link is clicked
$( document ).ready(function()
{
	$('#isotope').isotope(
	{
		itemSelector : '.item',
		layoutMode   : 'fitRows',
		getSortData  :
		{
			name : function ( $elem )
			{
				return $elem.find('.name').text();
			},
			number : function ( $elem )
			{
				return parseInt( $elem.find('.number').text(), 10 );
			}
		}
	})	
	
	$('#filters a').click(function()
	{
		var selector = $(this).attr('data-filter');
		$('#isotope').isotope({ filter: selector });
		return false;	
	})
	
	$('#sort-by a').click(function(){
		var sortName = $(this).attr('href').slice(1);
		$('#isotope').isotope({ sortBy : sortName });
		return false;
	});

});
</script>

	<div class="clearfix">
	<div class="inline pull-left btn-text-left">Filters</div>
		<div id="filters" class="btn-group inline pull-left">
		  <a href="#" data-filter="*" class="btn btn-default">All</a>
		  <a href="#" data-filter=".Production" class="btn btn-default">Prod</a>
		  <a href="#" data-filter=".Development" class="btn btn-default">Dev</a>
		  <a href="#" data-filter=".Pre-Production" class="btn btn-default">PreProd</a>
		  <a href="#" data-filter=".Training" class="btn btn-default">Training</a>
		  <a href="#" data-filter=".Other" class="btn btn-default">Other</a>
		</div>
	</div>
	
	<div class="clearfix">
	<div class="inline pull-left btn-text-left">Sort By</div>
	<div id="sort-by" class="btn-group inline pull-left">
	  <a href="#name" class="btn btn-default">Name</a>
	  <a href="#space" class="btn btn-default">Space Left</a>
	  <a href="#number" class="btn btn-default">Databases</a>
	</div>
	</div>

<div id="isotope">
	{% for row in rows %}
		<div class="item {{row.state}}">
			<a href="{{ row.link }}"><h4 class="name">{{ row.shortname }}</h4></a>
			<p><span class="number">{{ row.databases }}</span> databases</p>
			<p class="state">{{ row.state }}</p>
			<p>{{ row.disk_free|filesizeformat }} free</p>
			<span class="free" style="display: none">{{ row.disk_free}}</span>
		</div>
	{% endfor %}
</div>

<!-- TODO COPE WITH ERRORS! -->

{% endblock %}
