{% extends "layout.html" %}
{% block body %}

<!-- modal to create a database -->
<div class="modal fade" id="create-database">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Create Database</h4>
			</div>
			<form class="form-horizontal" role="form" method="POST" action="{{ url_for('database_create')}}">
				<div class="modal-body">
					<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
					<input type="hidden" name="server_hostname" value="{{ server.hostname }}" />
					<div class="form-group">
						<label for="inputName" class="col-lg-2 control-label">Name</label>
							<div class="col-lg-10">
								<input type="text" class="form-control" id="inputName" name="database_name">
							</div>
						</div>
					<div class="form-group">
						<label for="inputDescription" class="col-lg-2 control-label">Description</label>
						<div class="col-lg-10">
							<input type="text" class="form-control" id="inputDescription" name="database_desc">
						</div>
					</div>
					<div class="form-group">
						<label for="inputDescription" class="col-lg-2 control-label">Owner</label>
						<div class="col-lg-10">
							<input type="text" class="form-control" id="inputOwner" name="database_owner">
						</div>
					</div>
					<div class="form-group">
						<label for="inputPasswd" class="col-lg-2 control-label">Password</label>
						<div class="col-lg-10">
							<input type="password" class="form-control" id="inputPasswd" name="database_passwd">
							<span class="help-block">Leave the password blank for automatic generation (recommended)</span>
						</div>
					</div>
				</div><!-- /.modal-body -->
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="submit" class="btn btn-primary">Create Database</button>
				</div><!-- /.modal-footer -->
			</form><!-- /.form -->
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- modal to edit server -->
<div class="modal fade" id="edit-server">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Edit Server</h4>
			</div>
			<form class="form-horizontal" role="form" method="POST">
				<div class="modal-body">
					<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
					<input type="hidden" name="server_hostname" value="{{ server.hostname }}" />
					<div class="form-group">
						<label for="inputAlias" class="col-lg-2 control-label">Alias</label>
							<div class="col-lg-10">
								<input type="text" class="form-control" id="inputAlias" name="server_alias" {% if server.alias %}value="{{ server.alias }}" {% endif %}>
							</div>
						</div>
					<div class="form-group">
						<label for="inputDescription" class="col-lg-2 control-label">Description</label>
						<div class="col-lg-10">
							<input type="text" class="form-control" id="inputDescription" name="server_desc" {% if server.desc %}value="{{ server.desc }}" {% endif %}>
						</div>
					</div>
					<div class="form-group">
						<label for="inputStatus" class="col-lg-2 control-label">Status</label>
						<div class="col-lg-5">
							<select name="server_state" class="form-control" id="inputStatus">
								<option value="Production"{% if server.state and server.state == "Production" %} selected="selected"{% endif %}>Production</option>
								<option value="Pre-Production"{% if server.state and server.state == "Pre-production" %} selected="selected"{% endif %}>Pre-Production</option>	
								<option value="Development"{% if server.state and server.state == "Development" %} selected="selected"{% endif %}>Development</option>	
								<option value="Training"{% if server.state and server.state == "Training" %} selected="selected"{% endif %}>Training</option>	
								<option value="Other"{% if server.state and server.state == "Other" %} selected="selected"{% endif %}>Other</option>
							</select>
						</div>
					</div>
				</div><!-- /.modal-body -->
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="submit" class="btn btn-primary">Save changes</button>
				</div><!-- /.modal-footer -->
			</form><!-- /.form -->
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="remove-server">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Remove Server</h4>
			</div>
			<form class="form-horizontal" role="form" method="POST">
				<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
				<input type="hidden" name="server_hostname" value="{{ server.hostname }}" />
				<input type="hidden" name="delete" value="yes" />
				<div class="modal-body">
				<p>Are you sure you want to remove this server? Note, removing a server does not affect the server itself (it does not delete databases or stop services).</p>
				</div><!-- /.modal-body -->
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">No! I take it all back!</button>
					<button type="submit" class="btn btn-primary">Yes, remove server</button>
				</div><!-- /.modal-footer -->
			</form><!-- /.form -->
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script type="text/javascript">
$(document).ready(function()
{
	$(function()
	{
		$("#tsort").tablesorter();
	});
	
	$('[data-toggle="tooltip"]').tooltip();
});
</script>

<div class="page-header">
  <h1><span class="glyphicon glyphicon-hdd"></span> {{ server.hostname }}</h1>
</div>

<div class="row">
	<div class="col-md-5">
		<div class="panel panel-success panel2k">
			<div class="panel-heading">
				<h3 class="panel-title">Server Information</h3>
			  </div>
			  <div class="panel-body">
				<table class="statable">
					<tbody>
						<tr>
							<td><strong>Version:</strong></td>
							<td>{{stats.db_version}}</td>
						</tr>
						<tr>
							<td><strong>Data Drive:</strong></td>
							<td>{{stats.disk_mount_point}}</td>
						</tr>
						<tr>
							<td><strong>Alias:</strong></td>
							<td>{{server.alias}}</td>
						</tr>
						<tr>
							<td><strong>Environment:</strong> </td>
							<td>{{server.state}}</td>
						</tr>
						<tr>
							<td><strong>Description:</strong> </td>
							<td>{{server.desc}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-info panel2k">
			<div class="panel-heading">
				<h3 class="panel-title">Server Status</h3>
			  </div>
			  <div class="panel-body">
			    {% if server_error %}
			    <p>Status not available</p>
			    {% else %}
				<table class="statable">
					<tbody>
						<tr>
							<td><strong>Server load:</strong></td>
							<td>{{stats.load_avg_1}} {{stats.load_avg_5}} {{stats.load_avg_15}}</td>
						</tr>
						<tr>
							<td><strong>MySQL uptime:</strong></td>
							<td>{{stats.db_uptime}}</td>
						</tr>
						<tr>
							<td><strong>Disk Capacity:</strong></td>
							<td>{{stats.disk_capacity|filesizeformat}}</td>
						</tr>
						<tr>
							<td><strong>Disk Usage:</strong></td>
							<td>{{stats.disk_usage|filesizeformat}}</td>
						</tr>
						<tr>
							<td><strong>Disk Free:</strong> </td>
							<td>{{stats.disk_free|filesizeformat}}</td>
						</tr>
					</tbody>
				</table>
				{% endif %}
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="panel panel-danger panel2k">
			<div class="panel-heading">
				<h3 class="panel-title">Actions</h3>
			</div>
			<div class="panel-body">
				<ul class="nav nav-pills nav-stacked">
				  <% if server_error %>
				  <li class="disabled">
				  {% else %}
				  <li>
				  {%endif%}
				    <a href="#" data-toggle="modal" data-target="#create-database"><span class="glyphicon glyphicon-plus"></span> Create Database</a>
				  </li>
				  <li>
				  	<a href="#" data-toggle="modal" data-target="#edit-server"><span class="glyphicon glyphicon-wrench"></span> Edit Server</a>
				  </li>
				  <li><a href="#" data-toggle="modal" data-target="#remove-server"><span class="glyphicon glyphicon-trash"></span> Remove Server</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Databases</h3>
			  </div>

			<table id="tsort" class="table table-hover tablesorter">
				<thead>
					<tr>
						<th></th>
						<th>Name</th>
						<th>Owner</th>
						<th style="width: 40%">Description</th>
						<th class="sorter-metric" data-metric-name="B|byte">Size</th>
					</tr>
				</thead>
				<tbody>
			{% if databases|length == 0 %}
					<tr>
						<td colspan='5'>There are no databases on this server (yet!)</td>
					</tr>
			{% else %}
				{% for database in databases %}
					<tr>
						<td><a href="{{ database.link }}"><button type="button" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-cog"></span></button></a></td>
						<td>{{ database.name }}</td>
						<td>{{ database.owner }}</td>
						<td>{{ database.description }}</td>
						<td>
							{% if server_error %}
							N/A
							{% else %}
								{% if database.unsized %}
								N/A <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="left" title="Size of database not yet calculated by database server - try again later"></span>
								{% else %}
								{{ database.size|filesizeformat}}
								{% endif %}
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			{% endif %}
				</tbody>
			</table>
		</div>
		
{% if not server_error %}
<small>Database size data last updated at {{stats.db_sizes_date}}</small>
{% endif %}

{% endblock %}
