{% extends "layout.html" %}
{% block body %}


<div class="page-header">
  <h1><i class="fa fa-fw fa-plus"></i> Add new server</h1>
</div>

<p>
	Before adding a server to the MySQL Management Console you must first install the mysqladm agent and open the firewall on port 1337.
</p>

<br/>

<form class="form-horizontal" role="form" method="POST">
	<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
	<div class="form-group">
		<label for="inputName" class="col-lg-2 control-label">Name</label>
			<div class="col-lg-10">
				<input type="text" class="form-control" id="inputName" name="server_name" {% if name %}value="{{ name }}" {% endif %}/>
				<span class="help-block">A short name used to represent the server, usually the hostname without the domain name</span>
			</div>
	</div>

	<div class="form-group">
		<label for="inputHostname" class="col-lg-2 control-label">Hostname</label>
			<div class="col-lg-10">
				<input type="text" class="form-control" id="inputHostname" name="server_hostname" {% if hostname %}value="{{ hostname }}" {% endif %}/>
				<span class="help-block">Fully qualified hostname of the server</span>
			</div>
	</div>

	<div class="form-group">
		<label for="inputAlias" class="col-lg-2 control-label">Farm Alias</label>
			<div class="col-lg-10">
				<input type="text" class="form-control" id="inputAlias" name="server_alias" {% if alias %}value="{{ alias }}" {% endif %}>
				<span class="help-block">Farm Servers only: An optional alias customers will use, should be mysqlNNN.soton.ac.uk, where NNN is the same number as the SRV server number above.
				</span>
			</div>
	</div>

	<div class="form-group">
		<label for="inputDescription" class="col-lg-2 control-label">Description</label>
			<div class="col-lg-10">
				<input type="text" class="form-control" id="inputDescription" name="server_desc" {% if description %}value="{{ description }}" {% endif %}>
				<span class="help-block">e.g. MySQL Production Server 3
				</span>
			</div>
	</div>
	
	<div class="form-group">
		<label for="inputStatus" class="col-lg-2 control-label">Status</label>
			<div class="col-lg-5">
				<select name="server_state" class="form-control" id="inputStatus">
					<option value="Production"{% if state and state == "Production" %} selected="selected"{% endif %}>Production</option>
					<option value="Pre-Production"{% if state and state == "Pre-Production" %} selected="selected"{% endif %}>Pre-Production</option>	
					<option value="Development"{% if state and state == "Development" %} selected="selected"{% endif %}>Development</option>	
					<option value="Training"{% if state and state == "Training" %} selected="selected"{% endif %}>Training</option>	
					<option value="Other"{% if state and state == "Other" %} selected="selected"{% endif %}>Other</option>
				</select>

				<span class="help-block">What sort of databases are hosted on this server?
				</span>
			</div>
	</div>

	<div class="form-group">
		<label for="inputPassword" class="col-lg-2 control-label">Password</label>
		<div class="col-lg-10">
			<input type="password" class="form-control" id="inputPassword" name="server_password" />
			<span class="help-block">The mysqladm agent password - this is not the root or mysql root password on the server. It can be found in /opt/mysqlagent/mysql.conf
			</span>
		</div>
	</div>

	<div class="form-group">
		<label for="inputType" class="col-lg-2 control-label">Server Type</label>
			<div class="col-lg-10">
				<select name="server_type" class="form-control" id="inputType">
					<option value="1"{% if server_type == 1 %} selected="selected"{% endif %}>Farm Member</option>
					<option value="2"{% if server_type == 2 %} selected="selected"{% endif %}>Managed</option>	
					<option value="0"{% if server_type == 0 %} selected="selected"{% endif %}>Unmanaged</option>
				</select>

				<span class="help-block">The type of server being added. Farm Members are servers that are multi-purpose servers for any database. Managed servers are servers for specific purposes such as WordPress or Puppet, but where we still manage databases via this GUI. Unmanaged servers are servers added to this system purely for observation where database management is handled elsewhere - such as Drupal/Aegir.
				</span>
			</div>
	</div>
	
	<div class="form-group">
		<label for="inputSsl" class="col-lg-2 control-label">Security Mode</label>
			<div class="col-lg-10">
				<select name="server_sslverify" class="form-control" id="inputSsl">
					<option value="1"{% if sslverify == "1" %} selected="selected"{% endif %}>Require a valid SSL certificate</option>
					<option value="0"{% if sslverify == "0" %} selected="selected"{% endif %}>Don't validate the SSL certificate</option>
				</select>

				<span class="help-block">Should we validate the SSL certificate of the server? If you don't know what you're doing leave this as default please.
				</span>
			</div>
	</div>

	<div class="form-group">
		<div class="col-lg-offset-2 col-lg-10">
			<button type="submit" class="btn btn-default">Add Server</button>
		</div>
	</div>
</form>

{% endblock %}
