{% extends "layout.html" %}
{% block body %}

<div class="page-dashboard">
  <h1>Isotope development</h1>
</div>

<script type="text/javascript">

$( document ).ready(function() {
$('#isotope').isotope({
// options
itemSelector : '.item',
layoutMode : 'fitRows'
})
});

// filter items when filter link is clicked
$('#filters button').click(function(){
  var selector = $(this).attr('data-filter');
  $container.isotope({ filter: selector });
  return false;
});
</script>

<div class="btn-group">
  <button type="button" data-filter=".production" class="btn btn-default">Prod</button>
  <button type="button" data-filter=".preproduction" class="btn btn-default">PreProd</button>
  <button type="button" data-filter=".development" class="btn btn-default">Dev</button>
  <button type="button" data-filter=".training" class="btn btn-default">Training</button>
  <button type="button" data-filter=".other" class="btn btn-default">Other</button>
</div>

<div id="isotope">
	{% for row in rows %}
		<div class="item {{row.state}}">
			{{ row.shortname }}
		</div>
	{% endfor %}
</div>


<table id="tsort" class="table table-hover table-striped table-condensed table-responsive">
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>Databases</th>
			<th>Load Average</th>
			<th class="sorter-metric" data-metric-name="B|byte">Disk Capacity</th>
			<th class="sorter-metric" data-metric-name="B|byte">Disk Usage</th>
			<th class="sorter-metric" data-metric-name="B|byte">Disk Free</th>
			<th>MySQL Uptime</th>
		</tr>
	</thead>
	<tbody>
		{% for row in rows %}
		{% if row.error %}
		<tr class="danger">
		{% else %}
		<tr>
		{% endif %}
		
			<td><a href="{{ row.link }}"><button type="button" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-wrench"></span></button></a></td>
			<td>{{ row.hostname }}</td>
			<td>{{ row.databases }}</td>
			
			{% if row.error %}
				<td colspan="5">{{ row.error }}</td>
			{% else %}
			
			<td>{{ row.load }}</td>
			<td>{{ row.disk_capacity|filesizeformat }}</td>
			<td>{{ row.disk_usage|filesizeformat }}</td>
			<td>{{ row.disk_free|filesizeformat }}</td>
			<td>{{ row.uptime }}</td>
			{% endif %}
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}
