{% extends "layout.html" %}
{% block body %}

<div class="page-header">
  <h1>Servers</h1>
</div>

<table class="table table-hover table-striped table-condensed table-responsive">
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>Alias</th>
			<th>Description</th>
			<th>Status</th>
			<th># Databases</th>
		</tr>
	</thead>
	<tbody>
		{% for row in rows %}
		<tr>
			<td><a href="{{ row.link }}"><button type="button" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-wrench"></span></button></a></td>
			<td>{{ row.hostname }}</td>
			<td>{{ row.alias }}</td>
			<td>{{ row.desc }}</td>
			<td>{{ row.state }}</td>
			<td>{{ row.databases }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}
