{% extends "layout.html" %}
{% block body %}

<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
	<h1>{{ servers }} <small>database servers</small>
	<h1>{{ databases }} <small>database instances</small></h2>
	<h1>{{ loadavg }} <small>average server load average</small> </h2>
	<h1>{{ capacity|filesizeformat }} <small>total disk space capacity</small> </h2>
	<h1>{{ usage|filesizeformat }} <small>total disk space usage</small> </h2>
</div>

{% endblock %}
